In [246]:
import pandas as pd
import numpy as np
import re

In [445]:
df = pd.read_csv("XAUUSD.csv")
df = df.rename(columns ={"XAUUSD Historical Data" : "Date", "Unnamed: 1": "Open", "Unnamed: 2": "High",
                   "Unnamed: 3": "Low", "Unnamed: 4": "Close", "Unnamed: 5": "Change(Pips)", 
                   "Unnamed: 6": "Change(%)"})
df.drop(0 ,axis=0, inplace=True)
df = df.reset_index(drop = True)
df = df.astype({'Open':'float','High':'float','Low':'float','Close':'float','Change(Pips)':'float',
                'Change(%)':'float'})

In [446]:
#re.findall(r"^([\w]*)/([\w]*)/([\w]*) "
df['year']=df["Date"].apply(lambda x: re.search(r"^([\w]*)/([\w]*)/([\w]*)",x)[3])
df['day']=df["Date"].apply(lambda x: re.search(r"^([\w]*)/([\w]*)/",x)[2])
df['month']=df["Date"].apply(lambda x: re.search(r"^([\w]*)/",x)[1])
df['ds'] = pd.DatetimeIndex(df['year']+'-'+df['month']+'-'+df['day'])

In [447]:
df.drop(['Date','year','month','day','Change(Pips)','Change(%)','High','Low','Open'], axis=1, inplace=True) #Change(Pips),Change(%) could drop from dataframe
df.describe()
df.plot('ds')

             Close
count   622.000000
mean   1833.592749
std      94.345885
min    1626.890000
25%    1774.957500
50%    1815.470000
75%    1914.700000
max    2051.930000

In [455]:
df.set_index('month')

       Close         ds
0    1929.65 2023-07-04
1    1921.17 2023-07-03
2    1917.70 2023-07-02
3    1919.20 2023-06-30
4    1908.76 2023-06-29
..       ...        ...
617  1803.75 2021-07-08
618  1803.22 2021-07-07
619  1795.68 2021-07-06
620  1791.15 2021-07-05
621  1786.39 2021-07-04

[622 rows x 2 columns]

In [419]:
train = (df.index < round(df.index.stop * 0.7))
test = (df.index >= round(df.index.stop * 0.7))
df_trian = df[train]
df_test = df[test]